.App {
  text-align: center;
  background-color: WhiteSmoke;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

.list-container {
  text-align: left;
  width: 17%;
  float: left;
  overflow-y: scroll;
  height: 46em;
  border-radius: 1.5em;
  border-style: ridge;
  margin-left: 1.5em;
  padding-left: 1.2em;
  padding-right: 1.2em;
  margin-top: 1.2em;
  background-color: WhiteSmoke;
}

.view-container {
  float: left;
  width: 75%;
  height: 46em;
  border-radius: 1.5em;
  border-style: ridge;
  margin-left: 1.6em;
  margin-top:1.2em;
  background-color: WhiteSmoke;
}

.map {
  padding-left: 3em;
  margin-left: 3em;
}

.drone-details {
  float: left;
  width: 30em;
  padding-top: .3em;
  margin-left: 3em;
}

.drone-form {
  float: left;
  padding-top: .3em;
  margin-left: 8em;
}

.droneListItem {
  font-size: .8em;
  border-bottom: 2px;
  border-bottom-style: ridge;
  border-bottom-color: white;
}

.drone-strike-list-title {
  margin-left: 2em;
}

.sort {
  margin-left: 5em;
}

.search {
  margin-left: 3em;
}

input {
  border: none;
  border-bottom: .1em ridge grey;
}

/* input[type=text] {
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
} */

input[type=text]:focus {
    border: 3px solid #555;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

select {
    width: 10em;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: white;
}

input[type=button] {
    background-color: white;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

body {
  padding-top: 10px;
  font-family: 'Crete Round'
}

h3 {
  font-family: 'Cinzel'
}

h1 {
  font-family: 'Cinzel'
}

header {
  font-family: 'Cinzel'
}

strong {
   font-family: 'Cinzel'
 }

 .deaths{
   display: inline;
 }


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@import url('https://fonts.googleapis.com/css?family=Crete+Round');
@import url('https://fonts.googleapis.com/css?family=Cinzel');
