.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

.list-container {
  text-align: left;
  width: 20%;
  float: left;
  overflow-y: scroll;
  height: 750px;
  border-radius: 25px;
  border-style: ridge;
  margin-left: 10px;
  padding-left: 30px;
  background-color: lightgrey;
}

.view-container {
  float: left;
  width: 75%;
  height: 750px;
  border-radius: 25px;
  border-style: ridge;
  margin-left: 10px;
}

.map {
  padding-left: 50px;
  margin-left: 50px;
}

.drone-details {
  float: left;
  width: 500px;
  padding-top: 5px;
  margin-left: 10px;
}

.drone-form {
  float: left;
  padding-top: 5px;
  margin-left: 40px;
}

body {
  padding-top: 10px;
  font-family: 'Crete Round'
}

h3 {
  font-family: 'Cinzel'
}

h1 {
  font-family: 'Cinzel'
}

header {
  font-family: 'Cinzel'
}

strong {
   font-family: 'Cinzel'
 }


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@import url('https://fonts.googleapis.com/css?family=Crete+Round');
@import url('https://fonts.googleapis.com/css?family=Cinzel');
